/* CSS Styles the page
*/
body {
    background: #ffdb58 !important;
    text-align: center;
    border-style: solid;
    border-color: #855E42;
    border-radius: 5em;
    border-width: 1em;
    height:150em;
}

h1 {
    font-family: eurostile, sans-serif;
    font-style: normal;
    font-weight: 400;
}
h3 {
    font-family: eurostile, sans-serif;
    font-style: normal;
    font-weight: 400;
}

p {
    font-family: eurostile, sans-serif;
    font-style: normal;
    font-weight: 400;
}

#pong {
    position: relative;
    border-radius: 50px;
    margin-top: 10em;
    background-position: center;
    z-index: 10;
    text-align:center;
}

#audio{
    position: absolute;
    left:0;
    right:0;
    margin: auto;
}

#arcadeContainer {
    position: absolute;
    border-top: 45em solid #000;
    border-left: 3em solid transparent;
    border-right: 3em solid transparent;
    width: 80%;
    border-top-right-radius: 3em;
    border-top-left-radius: 3em;
    border-bottom-right-radius: 3em;
    border-bottom-right-radius: 3em;
    z-index: -1;
    left:0;
    right:0;
    margin: auto;
}

#controller {
    height:15em;
    display: block;
    width: 80%;
    left:0;
    right:0;
    margin: auto;
    background-color: lightgrey;
    margin-top:800px;
    position: absolute;
}

#woodPanel {
    height:60em;
    display: block;
    width: 100%;
    left:0;
    right:0;
    margin: auto;
    background-color: #855E42;
    margin-top:1200px;
    position: absolute;
}
